.ShopingItemContainerStyle {
    border: 1px solid var(--grey-200);
    margin: 10px;
    padding: 1px;
    border-radius: 4px;
    height: 314px;
    width: 331px;
}


.ShopingItemContainerStyle:hover {
    transition: transform .2s;
}

.ShopingListStyle {
    display: flex;
    flex-wrap: wrap;
}

.ShopingItemTextStyle {
    font-size: 22px;
    font-weight: 600;
    color: var(--grey-600);
    margin: 10px 0 0 10px;
}

.ShopingItemTextStyle :hover {
    font-size: 23px;
    font-weight: 800;
    color: var(--grey-600);
    margin: 10px 0 0 10px;
}

.ShopingItemButtonStyle {
    font-size: 22px;
    font-weight: 600;
    color: var(--grey-800);
    margin: 10px 0px 10px 10px;
}

.background-image {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}