.ShopingItemContainerStyle {
    border: 1px solid var(--grey-200);
    margin: 10px;
    padding: 0px;
    border-radius: 4px;
}

.ShopingItemContainerStyle:hover {
    transition: transform .2s;
}

.ShopingListStyle {
    display: flex;
    flex-wrap: wrap;
}

.ShopingItemTextStyle {
    font-size: 22px;
    color: var(--grey-600);
    margin: 10px 0 0 10px;
}

.ShopingItemButtonStyle {
    font-size: 14px;
    color: var(--grey-800);
    margin: 10px 0px 10px 10px;
}

.background-image {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-image:hover {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.08);
}